body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search {
    margin: 30px 0px;
    padding: 1em;
    width: 600px;
    height: 10px;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#country-inp {
    width: 100%;
}
#search-btn {
    border-radius: 50%;
    border: none;
    height: 36px;
    width: 36px;
    outline: none;
    color: black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background: none;
}
.search input {
    border-radius: 24px;
    border: none;
    padding: 0.5em 1em;
    outline: none;
    color: black;
    transition: 0.2s ease-in-out;
    font-size: 120%;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.module {
    margin: 30px 0;
    padding: 1em;
    width: 300px;
    height: 300px;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    color: black;
    font-size: 1em;
}

.module.one {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.split {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}

.icon-one {
    width: 10em;
}

.module.two {
    display: flex;
    align-items: center;
    justify-content: center;
}

.city {
    font-size: 1.5em;
}

.module.one.loading {
    visibility: hidden;
}

.module.two.loading {
    visibility: hidden;
}


.map {
    width: 80vw;
    height: 300px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    background-image: url("https://images.unsplash.com/photo-1569336415962-a4bd9f69cd83?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2831&q=80");
    background-size: cover;
    border: 3px solid black;
}

.new-btn {
    width: 20px;
    height: 20px;
    background-color: black;
    cursor: pointer;
}